/* Initial setup */
:root {
  /* Website color palette */
  --color-primary: hsl(31, 77%, 52%);
  --color-secondary: hsl(184, 100%, 22%);
  --color-tertiary: hsl(179, 100%, 13%);

  --color-white-trsp: hsla(0, 0%, 100%, 0.75);
  --color-light-gray: hsl(0, 0%, 95%);
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Sets the font-size to 10px (62.5% of 16px is 10px) Easier to use REM units */
  font-size: 62.5%;
}

html, body {
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.4;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}


/* Sections, boxes, wrappers */
.wrapper {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}


/* Card styling */
.card {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}

.card--1 {
  background-color: var(--color-primary);
}

.card--2 {
  background-color: var(--color-secondary);
}

.card--3 {
  background-color: var(--color-tertiary);
}

.card h2 {
  color: var(--color-light-gray);
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card p {
  color: var(--color-white-trsp);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}


/* Buttons styling */
.card .btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 16px;
  padding: 7px 14px;
}

.card--1 .btn {
  color: var(--color-primary);
}

.card--2 .btn {
  color: var(--color-secondary);
}

.card--3 .btn {
  color: var(--color-tertiary);
}

.btn:hover {
  background: none;
  color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  transition: all .3s;
}